<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../_partials/head.ejs', {title: 'Reset Password' }) %>
</head>

<body class="body--center_content">

  <div class="reset">
    <%- include('../_partials/header-vert.ejs') %>
      <h2 class="header--dialog">Reset Password</h2>
      <form method="post">
        <div class="form__group">
          <label for="email" class="form__label">Email Address</label>
          <input type="text" id="email" name="email" class="form__input" placeholder="you@anywhere.com">
        </div>
        <button class="btn">Send Reset Email</button>
      </form>
      <a href="/" class="link--secondary">&laquo; Sign In</a>
  </div>

  <%- include('../_partials/footer.ejs') %>
</body>

</html>