<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../_partials/head.ejs', {title: 'Reset Password' }) %>
</head>

<body>
  <%- include('../_partials/header.ejs') %>
    <h2 class="header--dialog">Reset Password</h2>
    <% if (locals.error==='link' ) { %>
      <p class="alert">Cannot reset password. Contact administrator.</p>
      <%} if (!locals.error) { %>
        <form method="post">
          <div class="form__group">
            <label for="password" class="form__label">New Password</label>
            <input type="password" id="password" name="password" required class="form__input">
            <button class="btn">Reset Password</button>
          </div>
        </form>
        <% } %>
          <%- include('../_partials/footer.ejs') %>
</body>

</html>