<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../_partials/head.ejs'), {title: 'Add New Garden' } %>
    <%- include('../_partials/garden/tiny.ejs'); %>
      <title>Document</title>
</head>

<body>
  <%- include('../_partials/header.ejs') %>
    <main class="main">
      <h3 class="page-title">Create a Garden</h3>
      <form method="post">
        <div class="form__group">
          <label for="label" class="form__label">Garden Label</label>
          <input type="text" name="label" id="label" placeholder="Backyard - South" class="form__input">
        </div>

        <div class="form__group">
          <label for="season" class="form__label">Season</label>
          <input type="text" name="season" id="season" placeholder="Spring 2045" class="form__input">
        </div>

        <div class="form__group">
          <label for="location" class="form__label">Location</label>
          <input type="text" name="location" id="location" placeholder="Southeast corner of the backyard"
            class="form__input">
        </div>

        <div class="form__group">
          <label for="Notes" class="form__label">Notes</label>
          <textarea type="text" name="notes" id="notes" placeholder="" class="form__input"></textarea>
        </div>

        <button class="btn">Create Garden</button>
      </form>
    </main>
    <%- include('../_partials/footer.ejs') %>
</body>

</html>