<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./_partials/head.ejs'), {title: 'Welcome' } %>
</head>

<body>
  <%- include('./_partials/header.ejs') %>
    <h2>Sign In</h2>
    <% if (locals.error) { %>
      <p class="alert">ERROR: Email or Password Not Found</p>
      <% } %>
        <form method="POST" action="/login">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" required>

          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>

          <button>Sign In</button>
        </form>
        <a href="/register">Register</a>
        <a href="/profile/reset">Forgot Password</a>
        <%- include('./_partials/footer.ejs') %>
</body>

</html>